[submodule "deps/marray"]
	path = deps/marray
	url = https://github.com/bjoern-andres/marray.git
[submodule "deps/stack-vector"]
	path = deps/stack-vector
	url = https://github.com/bjoern-andres/stack-vector.git
